In [1]:
#q1: In the below elements which of them are values or an expression? eg:- values can be
#integer or string and expressions will be mathematical operators.
# *   'hello'  -87.8  -   /  +   6

In [ ]:
#q1 answer
Here are Values:
'hello'
-87.8
6

Here are Expressions:
*
-
/
+

In [ ]:
#q2: What is the difference between string and variable?

In [ ]:
#q2 answer
Variable:
Variable is used to store any value or information by occupying some memory in computer.

String:
String is a type of variable written within "" or ''

so in below example 
x = "How are you"

x is a variable and 
"How are you" is a string

In [ ]:
#q3: Describe three different data types.

In [ ]:
#q3 answer:
1. List Datatype:
- Lists are created using [] square bracket
- List datatype is used to store multiple items in a single variable
- We can change, add or remove list items once its created which makes it iterable
- List allows duplicate values as well

2. Dictionary Datatype:
- Dictionaries are written with curly brackets {}
- Dictionaries stores data in key value pairs
- key value pairs in dictioanry can be accessed using dictionaryname.items(), all keys can be accessed using 
dictionaryname.keys() and all values can be accessed using dictionaryname.values()

3. Tuple Datatype:
- Tuples are written with round brackets ()
- We cannot change, add or remove tuples value once its created, means it is non-iterable
- Tuples can have items with same values

In [ ]:
#q4 : What is an expression made up of? What do all expressions do?

In [ ]:
#q4 answer:
An expression is a combination of one or more operators and operands. The expressions are evaluated based on 
the priorities of different operators to give us a final result.

In [ ]:
#q5: This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
#q5 answer:
An expression meant to return some values but statements don't need to.
variable declaration, print are the examples of statements as they don't return anything but
function call, arithmatic operators are the examples of expressions as they return values.

In [ ]:
#q6: After running the following code, what does the variable bacon contain?
#bacon = 22
#bacon + 1

In [1]:
#q6 answer:
bacon = 22
bacon+1

23

In [2]:
print(bacon)

22

In [ ]:
So after running the following code, variable bacon will have value 22

In [ ]:
#q7: What should the values of the following two terms be?
# 'spam' + 'spamspam'
# 'spam'* 3

In [6]:
print(('spam' + 'spamspam'))

spamspamspam

In [9]:
print(('spam'* 3))

spamspamspam

In [ ]:
so both the terms have same output spamspamspam

In [ ]:
#q8: Why is eggs a valid variable name while 100 is invalid?

In [ ]:
#q8 answer:
In python, variables can contain alpha numeric values and underscore but variables cannot start with a number. 
So, eggs is a valid variable name but 100 is not.

In [ ]:
#q9: What three functions can be used to get the integer, floating-point number, or string version of a value?

In [12]:
#q9 answer:
print(int(23.5674))
print(float(23.5674))
print(str(23.5674))

23
23.5674
23.5674

In [ ]:
#10. Why does this expression cause an error? How can you fix it?
#'I have eaten' + 99 + 'burritos'

In [13]:
#q10 answer:
print(('I have eaten' + 99 + 'burritos'))
# this expression cause an error because we cannot concatenate a string to int value. 
# string can only concatenate to another string

TypeError: can only concatenate str (not "int") to str

In [14]:
print(('I have eaten' + 'burritos')) #like here we can concatenate a string with another string

I have eatenburritos

In [15]:
print(('I have eaten' + str(99) + 'burritos')) #here we can typecast int value to str and then concatenate them. So here is the solution

I have eaten99burritos